:root {
    --height-value: 0px;
  }

.result{
background: linear-gradient(to top right, #FFFFFF, #d8f0d1);
transition: all 0.5s ease-in;

}

.battery{
    animation: IncreaseHeightAnimation;
    animation-duration: 6s;

}

  /* Css animation keyframe for increasing height of a div */
  @keyframes IncreaseHeightAnimation {
    0% {
      height: 0%;
    }
  }

